.favorites {
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; */
}

.filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.filters button {
    padding: 8px 18px;
    font-size: 14px;
}

.filters button:hover {
    border-color: #e89ac7;
    transition: 500ms;
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 20px;
}