.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 20px;
}



.helper {
    margin-left: 75%;
}

.arrow {
    transform: scale(-1, 1);
}