@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Material+Symbols+Outlined');

body {
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: #0f0f0f;
  font-size: 14px;
  font-family: 'roboto', serif;
  color: #ffffffe3;
}

/* ------- BUTTON ------- */

button {
  background-color: #0f0f0f;
  color: #ffffffe3;
  border-color: #ffffff34;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px;
  transition: 500ms;
}

button:hover {
  transition: 500ms;
  color: #ffffffe3;
  border-color: #97ce4c;
}

/* ------- INPUT ------- */

input {
  height: 30px;
  width: 300px;
  border-radius: 5px;
  border: 1px solid #0f0f0f;
  outline: 0px solid #0f0f0f;
  background-color: #ffffff34;
  padding: 5px 10px;
  transition: 500ms;
}

input:hover {
  border: 1px solid #97ce4c;
  outline: 0px solid #97ce4c;
  transition: 500ms;
}

input:focus {
  border: 1px solid #97ce4c;
  outline: 0px solid #97ce4c;
}

/* ------- ICONS ------- */

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: #97ce4c;
}

/* ------- NAVBAR ------- */

.navbar {
}

/* ------- LOGIN ------- */

.login {
  padding-top: 160px;
}

.app {
}
