/* -------- NAVBAR -------- */

.navbar {
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    box-shadow: 0 0 35px 5px #98ce4c00;
  }
  to {
    box-shadow: 0 0 35px 5px #97ce4c;
  }
}

/* -------- MENU -------- */

.menu {
    margin-left: 50px;
}

.menu ul{
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: inline;
    padding: 10px;
}

.menu li:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
}

/* -------- SEARCH -------- */

.search {
    margin-right: 50px;
}